body {
 background-color: #012635;
 font-family: sans-serif;
}

h1 {
  text-align: center;
  color: grey;
}

p {
  color: grey;
  text-align: center;
}

.bilde {
  width: 200px;
  border-radius: 10%;
  border-color: grey;
  border-width: 4px;
  border-style: solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.sitat {
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
}

.overskrift {
margin-top: 50x;
}

.forfatter {
  font-style: italic;
}
